body{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    padding-top: 35px;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: "nav nav nav nav" "sidebar main main main" "sidebar content1 content2 content3" "sidebar footer footer footer";
    grid-gap: 0.2rem;
    padding-bottom: 40px;
}

nav{
    background: #ffd0d2;
    grid-area: nav;
}

main{
    background: #f1b3b5 ;
    grid-area: main;
}

#sidebar{
    background: #e9999c;
    grid-area: sidebar;
}

#content1{
    background: #d1a0a1;
    grid-area: content1;
}

#content2{
    background: #ca9d9e;
    grid-area: content2;
}

#content3{
    background: #cea4a4;
    grid-area: content3;
}

footer{
    background: #e7bdbf;
    grid-area: footer;
}

#tabs-top{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: #FF1493;
}

#tabs-top a{
    float: left;
    display: block;
    width: 33%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 0;
}

#main-home{
    margin-top: 120px;
}

#tabs-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: #FF1493;
}

#tabs-bottom a{
    float: left;
    display: block;
    width: 33%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: none;
}

#main{
    margin-top: 14px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

#content{
    padding-top: 1px;
    padding-bottom: 50px;
}

a.info-box{
    text-decoration: none;
    background: rgba(255, 255, 255, .8);
    width: 90%;
    height: 112px;
    display: block;
    margin:auto;
    margin-top: 18px;
    padding:1px;
}

.info-box img{
    height: 100px;
    margin: 10px;
    float: left;
}

.info-box h3{
    padding: 0;
    margin-bottom: 10px;
    width: 90%;
    color: #572800;
}

.info-box p{
    margin: 0;
    padding: 0;
    width: 90%;
    color: #131313;
}

.info-box img.right{
    float: right;
    margin-top: 25px;
    height: 40px;
}

#info-box-full{
    background-color: rgba(255, 255, 255, .8);
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 10px;
}

#info-box-full img{
    width: 100%;
}

#info-box-full h3{
    text-align: center;
}

input{
    width: 100%;
    height: 25px;
    margin : 12px 0;
    border : 1px solid #929292;
}

textarea{
    width: 100%;
    height :50px;
    margin : 12px 0;
    border : 1px solid #929292;
}

.button{
    display : block;
    background-color: rgb(255, 187, 244);
    text-decoration : none;
    text-align  : center;
    color       : white;
    font-size   : 16px;
    font-weight : 600;
    margin : 12px 0;
    padding : 8px 0;
}

.responsive{
    width: 100%;
    height: auto;
}

.menu{
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
}

.heading{
    background-color:rgb(253, 203, 219) ;
    color: white;
    margin-top: 30px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center;
}

.heading>h1{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.heading>h3{
    font-family: 600;
    font-size: 22px;
    letter-spacing: 5px;
}

.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
}

.food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}

.details-sub>h4{
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.details-sub>p{
    font-weight: 400;
    font-size: 15px;
    color: white;
}